*{
    margin: 0;
    padding: 0;
}

body{
    background-color:beige;
}



nav{
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-top: 0%;
     padding-bottom: 0%;
 }

 
header{
    display: flex;
    justify-content: space-between;
    padding: 1;

   
}

text{
    display: flex;
    justify-content: space-between;

}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    text-size-adjust: 20px;
}

button.login-btn{
    background-color:orange;
    padding: 7px 17px;
    color: black;
    border: transparent;
    border-radius: 5px;
    font-size: 17px;
    border:none;
    padding:5px;
    margin-left: 10px;

}

button.login{
    color: rgb(15, 108, 15);
    border-color:rgb(8, 62, 49);
    background-color:transparent;
    font-size: 18px;
    border-radius:5px;
} 


.title{
    display: flex;
    color:rgb(15, 77, 59);
    font-size: 40px;
    line-height: 50px;
    margin-top: 100px;
    padding: 2;
}

.ptext{
    color: gray;
    display: flex;
    font-size:18px;
    padding: 25px;
}

.login3{
    background-color: orange;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    padding: 15px;
    font-size:medium;
    text-align:center;
    display: flex;
    
}

.mywork{
    padding: 25px;
}

.image{
    padding: 15px;
    
}


.image2{
    width: auto;
    justify-content: center;
    float: right;
    size-adjust:auto;
    padding-right: 100px;
    margin-top: 100px;
}

.section2{
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 200px;

}
a {
   text-decoration: none; 
}

.welcome{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.welcome2{
    transform: translateY(-180px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 200px;
   
}

.welcome2 h2{
 width: 50%;
font-size: 40px;
margin-bottom: 20px;
text-align:left;
}

.welcome2 p{
    text-align: left;
    width: 50%;
    font-size:15px;
    margin-bottom: 20px;
}

article{
    background-color:#006156;
    
}

.Semester{
       height: 80vh;
       background-color: rgba(98, 216, 204, 0.219);
       display: flex;
       justify-content: space-around;
       align-items: center;
       text-align: center;
}

.Semester h2{
    font-weight: 600;
    margin-bottom: 30px;

}

.Semester p{
    color: darkgrey;
}

.semester1, .semester2{
    border-right: 1px solid darkgrey;
    padding-right: 50px;

}

.Riding{
    background-color: white;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.riding1{
     justify-content: center;
     align-items: center;
     height: 450px;
     width: 1300px;
     background-color:blanchedalmond;
     border: 500px;
     border-radius: 50px;
     box-shadow: rgba(98, 216, 204, 0.7);
}

.riding1 h1{
    margin-top:1000px;
    font-size: 40px;
}

.riding1 h2{
     margin-top: 80px;
      font-size: 50px;
      margin-bottom: 25px;
}

.riding1 p{
    color: darkgrey;
    margin-bottom: 25px;
    font-size: 20px;
}

input{
    width: 400px;
    height: 55px;
    border-radius: 10px;
    border: transparent;
}

.Riding button{
    color: white;
    background-color: black;
    padding: 16px;
    border-radius: 10px;
    border: 3px solid transparent;
    }

.Riding button:hover{
    background-color: darkcyan;
    transition: 0.6s;
    border: 3px solid beige;
}