*{
    margin: 0%;
}



.title{
    color: white;
    background-color: blueviolet;
    text-align: center;
    padding: 50px;
}

.section{
    color:black;
    background-color: aqua;
    margin: 10px;
    padding: 40px;
}

.second section{
    color: black;
    background-color: aqua;
    padding: 40px;
    margin: 10px;
    
}

.third section{
    color: black;
    background-color: aqua;
    padding: 100px;
    margin: 30px;
}

section{
    display: flex;
    flex-direction: column;
}