

body{
    background-color:cadetblue;
}

section{
    text-align: center;
    list-style: none;
}
    
.header1{
    display: flex;
    justify-content: center;
    
}

.header1 h1{
    font-size:20px
}

.box1{
    width: 400px;
    background-color: azure;
    display: flex;
    /* justify-content: center; */
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 550px;
    

      
}
