*{
    margin: 30px;
}

body{
  background-image: url(./Green\ background.png);
}

section{
    text-align: center;
    background-color: green;
    color: #fff;
    margin: 100px;
}

.header{
  margin-bottom: 20px;
  padding-top: 50px;
  display: flex;
     justify-content: center;
     font-size: larger;
}

.text1{
    display: flex;
    justify-content: space-between;
}


.text2{
    display: flex;
    justify-content: space-between;
    
}
.text2 h3{
    padding-left: 500px;
    
}