*{
    margin: 30px;
}

body{
  background-image: url(./Green\ background.png);
}

section{
    text-align: center;
    background-color: green;
    color: #fff;
    border-radius: 250px;
}

.header{
  text-align: center;
  margin-bottom: 200px;
  padding-top: 50px;
}

.text1{
    display: flex;
    justify-content: space-around;
}


.text2{
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    
}
.text2 h3{
    padding-left: 500px;
    
}